* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.centered {
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.productContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.2rem;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 25px;
}

.productContainer:not(.productQuantity):not(.productImage) * {
  width: 100%;
}

.productContainer h1 {
  text-align: center;
}

.productQuantity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}

.productQuantityManipulation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.productQuantity input {
  text-align: center;
}

.productImage {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productViewContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem 1rem 10rem;
  height: 65%;
  max-height: 65%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.productViewContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .productViewContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.basketContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  padding: 2rem;
  background-color: rgb(25, 100, 41);
  color: rgb(255, 255, 255);
}

.basketContainer h1 {
  width: 100%;
}

.basketProducts {
  width: 60%;
  max-height: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.basketProducts::-webkit-scrollbar {
  display: none;
}

.basketProducts div {
  width: 100%;
}

.basketSum {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  padding-bottom: 1.5rem;
  padding-right: 0.5rem;
}

.basketSum h1 {
  padding: 0;
  margin: 0;
}

.basketProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.deleteButton {
  transition: all 1.2s ease;
}

.deleteButton:hover {
  cursor: pointer;
  scale: 1.2;
}

.headerContainer {
  height: 15%;
  background-color: rgb(25, 100, 41);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
