* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.centered {
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.productContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.2rem;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productContainer:not(.productImage) * {
  width: 100%;
}

.productContainer h1 {
  text-align: center;
}

.productQuantityManipulation {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  margin-bottom: 0.5rem;
  border: 2px outset black;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.productQuantityManipulation button {
  border-top: none;
  border-bottom: none;
}

.productQuantityManipulation button:hover {
  cursor: pointer;
}

.leftButton {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-right: 2px outset black;
  border-left: none;
}

.rightButton {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-right: 2px outset black;
  border-right: none;
}

.productImage {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 18px;
}

.productTitle {
  margin-bottom: 1rem;
}

.addToBasket {
  border-radius: 18px;
  transition: all 0.6s ease;
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
}

.addToBasket:hover {
  cursor: pointer;
  scale: 1.05;
}

.productViewContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 15rem 1rem 15rem;
  height: 69%;
  max-height: 69%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: #fffff0;
}

.productViewContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1300px) {
  .productViewContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 11rem 1rem 11rem;
  }
}

@media screen and (max-width: 700px) {
  .productViewContainer {
    padding: 1rem 3rem 1rem 3rem;
  }
}

.basketContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 17%;
  padding: 2rem;
  background: linear-gradient(to bottom, rgb(41, 187, 72), rgb(25, 100, 41));
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(93, 80, 80);
}

.basketContainer h1 {
  width: 100%;
}

.basketProducts {
  width: 60%;
  max-height: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.basketProducts::-webkit-scrollbar {
  display: none;
}

.basketProducts div {
  width: 100%;
}

.basketSum {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}

.basketSum h1 {
  padding: 0;
  margin: 0;
}

.basketProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.deleteButton {
  transition: all 1.2s ease;
}

.deleteButton:hover {
  cursor: pointer;
  scale: 1.2;
}

.filterContainer {
  height: 7%;
  background: linear-gradient(to bottom, rgb(36, 150, 61), rgb(41, 187, 72));
  color: white;
  text-shadow: 2px 2px rgb(93, 80, 80);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 2rem 0rem 2rem;
}

.sortSelect {
  border-radius: 10px;
  padding: 0.4rem;
  min-width: max-content;
}

.sortSelect,
.sortSelect option {
  font-size: 16px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.filters label {
  font-size: 18px;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -moz-transform: scale(1.5); /* Firefox */
  -ms-transform: scale(1.5); /* IE 9 */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5); /* General */
}

header {
  height: 7%;
  padding: 1.5rem 2rem 0rem 2rem;
  color: white;
  background: linear-gradient(to bottom, rgb(25, 100, 41), rgb(36, 150, 61));
  text-shadow: 2px 2px rgb(93, 80, 80);
}

.pageHeading {
  max-width: max-content;
  border-bottom: 2px solid white;
  padding-bottom: 0.1em;
}

/* Header breakpoint for filters */
@media screen and (max-width: 650px) {
}

/* Basket Font size breakpoint */
@media screen and (max-width: 550px) {
  .basketContainer {
    padding: 1rem;
  }

  .basketContainer h1 {
    font-size: 22px;
  }

  .basketProductContainer {
    font-size: smaller;
  }
}

@media screen and (max-width: 450px) {
  .basketContainer {
    padding: 0.5rem;
  }

  .basketContainer h1 {
    font-size: 20px;
  }

  .basketProductContainer {
    font-size: 12px;
  }
}

/* Abrio Shop demo breakpoint for page title */
@media screen and (max-width: 480px) {
}
